/* 全局样式 */
* {
  margin: 0;
  padding: 0;
  border: 0;
  /* 禁止选中文字 */
  user-select: none;
  /* 盒子模型 */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* background-image: url(../resources/background.jpg); */

  /* 居中背景图像 */
  background-position: center;
  /* 固定背景图像 */
  background-attachment: fixed;
  /* 不重复 */
  background-repeat: repeat;
  background-size: contain;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 1s ease;

}

/* 配合Vue防止加载页面时显示Vue源码 */
[v-cloak] {
  opacity: 0;
  display: none;
}

/* 滚动条样式 */
/* 滚动条整体部分，宽度 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #fefefe00;
}

/* 轨道 */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* 滑块 */
::-webkit-scrollbar-thumb {
  background: #0d7ac39c;
  border-radius: 10px;
}
